@import "../bower_components/foundation/scss/foundation/components/offcanvas";

@media #{$small-only} {
	.off-canvas-wrap {
		height: 100%;
		overflow-y: auto;

		.inner-wrap {
			min-height: 100%;
		}
	}
}

ul.off-canvas-list li label {
    font-size:rem-calc(18);
}

ul.off-canvas-list li a:hover {
    background:none;
}


.main-section {
    padding: rem-calc(15);
}

.white {
    background: #fff;
    margin-left: rem-calc(-15);
    margin-right: rem-calc(-15);
    padding: rem-calc(15);
}

.white {
    .columns.value {
        min-height: 37px;
        padding-top:.6rem;
    }
}