{% extends "base.html" %}

{% block content %}
<div class="row">
	<h3>INDEX</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, sint, ratione vero magnam error quas corporis sequi fugiat perferendis aliquid perspiciatis adipisci sapiente excepturi omnis vitae quis repellendus modi. Fuga.</p>
</div>
<div class="row">
	<h3>SPRITES</h3>
	<p>
		<i class="s-facebook"></i>
		<i class="s-twitter"></i>
		<i class="s-google"></i>
	</p>
</div>
<div class="row">
	<p><a href="#" class="button">button</a></p>
</div>
{% endblock content %}
