{% extends "base.html" %}

{% block content %}
<div class="row">
    <h3>INDEX</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, sint, ratione vero magnam error quas corporis sequi fugiat perferendis aliquid perspiciatis adipisci sapiente excepturi omnis vitae quis repellendus modi. Fuga.</p>
</div>
<div class="white">
    <div class="row">
        Hello World!
    </div>
</div>
<div class="row">
    <p><a href="#" class="btn expand">Save</a></p>
</div>
{% endblock content %}
