{% extends "base.html" %}

{% block content %}
<div class="row text-center" style="padding:3rem 0">
<a class="th ava" href="#"><img src="http://www.gravatar.com/avatar/5f3da2561611ab7c88eb919b3345d00c.png" alt=""/></a>
</div>

<fieldset>
    <div class="white">
        <div class="row">
            <div class="small-3 columns">
                <label>My interests</label>
            </div>
            <div class="small-9 columns value">
                Yoga, run, dance
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="white">
        <div class="row">
            <div class="small-3 columns">
                <label>Name</label>
            </div>
            <div class="small-9 columns value">
                Alexandr Marchenko
            </div>
        </div>
    </div>
    <div class="white">
        <div class="row">
            <div class="small-3 columns">
                <label>Birthdate</label>
            </div>
            <div class="small-9 columns value">
                1985-03-11
            </div>
        </div>
    </div>
    <div class="white">
        <div class="row">
            <div class="small-3 columns">
                <label>City</label>
            </div>
            <div class="small-9 columns value">
                Kiev
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <p><a href="#" class="btn expand">Save</a></p>
</div>
{% endblock content %}
