{% extends "base.html" %}

{% block content %}
<ul class="suggest">
    <li style="background-image:url(http://www.gravatar.com/avatar/5f3da2561611ab7c88eb919b3345d00c.png)"></li>
    <li style="background-image:url(http://i.imgur.com/DVkAI.jpg)"></li>
    <li style="background-image:url(http://i.imgur.com/DVkAI.jpg)"></li>
    <li style="background-image:url(http://i.imgur.com/DVkAI.jpg)"></li>
    <li>
        <p class="title">Alexandr, 99</p>
        <p class="subtitle">abra, cadabra</p>
    </li>
</ul>

<ul class="suggest">
    <li style="background-image:url(http://www.gravatar.com/avatar/5f3da2561611ab7c88eb919b3345d00c.png)"></li>
    <li style="background-image:url(http://i.imgur.com/DVkAI.jpg)"></li>
    <li style="background-image:url(http://i.imgur.com/DVkAI.jpg)"></li>
    <li style="background-image:url(http://i.imgur.com/DVkAI.jpg)"></li>
    <li>
        <p class="title">Alexandr, 99</p>
        <p class="subtitle">abra, cadabra</p>
    </li>
</ul>
{% endblock content %}
